<%- include('./partials/head.ejs')%>
<body>
    <h1 id="a" class="server_header">osher cash register server</h1>
    
    <%- include('./partials/routs.ejs')%>
    <%if(2+2 == 4){%>
        <p>true</p>
        
        <%}%>
        
</body>
</html>